@import url(http://fonts.googleapis.com/css?family=Roboto:500,300,700,400,100);



/*arabic fonts*/

@font-face {
    font-family: Frutiger_light;
    src: url(../fonts/FrutigerLTArabic-45Light.ttf);
}


@font-face {
    font-family: Frutiger_roman;
    src: url(../fonts/FrutigerLTArabic-55Roman.ttf);
}


@font-face {
    font-family: Frutiger_bold;
    src: url(../fonts/FrutigerLTArabic-65Bold.ttf);
}


@font-face {
    font-family: Frutiger_black;
    src: url(../fonts/FrutigerLTArabic-75Black.ttf);
}

@font-face {
    font-family: Gess_light;
    src: url(../fonts/GESSTwoLight.otf);
}

@font-face {
    font-family: Gess_bold;
    src: url(../fonts/GESSTwBold.otf);
}




/*arabic typography */



body:lang(ar) {
  padding-bottom: 0px;
  margin-top: 0px;
  padding-top: 0px;
  color: #333333;
  -webkit-font-smoothing: antialiased;
  font-family: Frutiger_light;
  font-size: 1.5em;
  text-decoration:none !important;
}
body h3:lang(ar) {
  font-family: Gess_light;
  font-size: 1.72727em;
}
body h4:lang(ar) {
  font-family: Frutiger_light;
  font-size: 2em;
  line-height: 0.8em;
  font-style: none !important;
  text-transform: uppercase;
}
body h6:lang(ar) {
  font-family: Frutiger_bold;
  font-size: 1em;
  text-decoration: none !important;
}
body h1:lang(ar) { 
 font-family: Gess_bold;
  font-size: 2.5em;
  line-height: 1.1em;
  margin-bottom: 11px;
  color: #339999;
}
body h2:lang(ar) {
  font-family: Gess_light;
  font-size: 2.41818em;
  -webkit-font-smoothing: antialiased;
}
body h5:lang(ar) {
  font-family: Gess_bold;
  font-size: 1.5em;
  line-height: 0.45455em;
  margin-bottom: 3%;
}


.menubar li a:lang(ar){

  font-family: Frutiger_light;

  font-size: 1em;
}

.menu li a:lang(ar){
  font-family: Frutiger_light;
  font-size: 1.3em;
  text-decoration: none;

}



li:lang(ar) {
    margin-left: 20px;
    float: right;
}


.ACSM:lang(ar){
}

.ACS13{
  margin-bottom: 10px;
}
.ACS11{
  color:#339999;
}


a:hover,
a:focus {
  color: #23527c;
  text-decoration: initial;
}



@media (min-width: 992px) {
  .col-md-1:lang(ar), .col-md-2:lang(ar), .col-md-3:lang(ar), .col-md-4:lang(ar), .col-md-5:lang(ar), .col-md-6:lang(ar), .col-md-7:lang(ar), .col-md-8:lang(ar), .col-md-9:lang(ar), .col-md-10:lang(ar), .col-md-11:lang(ar), .col-md-12:lang(ar),.col-xs-1:lang(ar), .col-xs-2:lang(ar), .col-xs-3:lang(ar), .col-xs-4:lang(ar), .col-xs-5:lang(ar), .col-xs-6:lang(ar), .col-xs-7:lang(ar), .col-xs-8:lang(ar), .col-xs-9:lang(ar), .col-xs-10:lang(ar), .col-xs-11:lang(ar), .col-xs-12:lang(ar),.col-sm-1:lang(ar), .col-sm-2:lang(ar), .col-sm-3:lang(ar), .col-sm-4:lang(ar), .col-sm-5:lang(ar), .col-sm-6:lang(ar), .col-sm-7:lang(ar), .col-sm-8:lang(ar), .col-sm-9:lang(ar), .col-sm-10:lang(ar), .col-sm-11:lang(ar), .col-sm-12:lang(ar) {

  
    float: right;
}

   .col-md-offset-[class*='*']:lang(ar){
    margin-left:0px !important; 
   }
  .col-md-offset-12:lang(ar) {
    margin-right: 100% !important;
    margin-left:0px;
  }
  .col-md-offset-11:lang(ar) {
    margin-right: 91.66666667% !important;
    margin-left:0px;
  }
  .col-md-offset-10:lang(ar) {
    margin-right: 83.33333333% !important;
    margin-left:0px;
  }
  .col-md-offset-9:lang(ar) {
    margin-right: 75% !important;
    margin-left:0px;
  }
  .col-md-offset-8:lang(ar) {
    margin-right: 66.66666667% !important;
    margin-left:0px;
  }
  .col-md-offset-7:lang(ar) {
    margin-right: 58.33333333% !important;
    margin-left:0px;
  }
  .col-md-offset-6:lang(ar) {
    margin-right: 50% !important;
    margin-left:0px;
  }
  .col-md-offset-5 :lang(ar){
    margin-right: 41.66666667% !important;
    margin-left:0px;
  }
  .col-md-offset-4:lang(ar) {
    margin-right: 33.33333333% !important;
    margin-left:0px;
  }
  .col-md-offset-3:lang(ar) {
    margin-right: 25% !important;
    margin-left:0px;
  }
  .col-md-offset-2:lang(ar) {
    margin-right: 16.66666667% !important;
    margin-left:0px;
  }
  .col-md-offset-1:lang(ar) {
    margin-right: 8.33333333% !important;
    margin-left:0px;
  }
  .col-md-offset-0:lang(ar) {
    margin-right: 0 !important;
    margin-left:0px;
    padding-left: 0px;
    padding-right: 0px;
  }
}


/*English typorgraphy*/



html, body {
    max-width: 100%;
    overflow-x: hidden;
}


body {
  margin-top: 0px;
  padding-top: 0px;
  color: #333333;
  -webkit-font-smoothing: antialiased;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1.5em;
  padding-bottom: 0px;
  padding-right: 0px;
}



/*selections rules*/

body::-moz-selection {
color: white;
background-color:#287181 
}
body::selection {
color: white;
background-color:#287181 
}


p::-moz-selection {
color: white;
background-color:#287181 
}
p::selection {
color: white;
background-color:#287181 
}

h1::-moz-selection {
color: white;
background-color:#287181 
}
h1::selection {
color: white;
background-color:#287181 
}


h2::-moz-selection {
color: white;
background-color:#287181 
}
h2::selection {
color: white;
background-color:#287181 
}


h3::-moz-selection {
color: white;
background-color:#287181 
}
h3::selection {
color: white;
background-color:#287181 
}


h4::-moz-selection {
color: white;
background-color:#287181 
}
h4::selection {
color: white;
background-color:#287181 
}


h5::-moz-selection {
color: white;
background-color:#287181 
}
h5::selection {
color: white;
background-color:#287181 
}



h6::-moz-selection {
color: white;
background-color:#287181 
}
h6::selection {
color: white;
background-color:#287181 
}



a::-moz-selection {
color: white;
background-color:#287181 
}
a::selection {
color: rgb(255, 255, 255);
background-color:#36889A;
text-shadow:solid; 
}




body h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 1.72727em;
}
body h4 {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 2em;
  line-height: 0.8em;
  font-style: nonen !important;
  text-transform: uppercase;
}
body h6 {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 1em;
  text-transform: uppercase;
}

.menubar li a{
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 1em;
  text-transform: uppercase;
}

body h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 2.7em;
  text-transform: uppercase;
  line-height: 0.8955em;
  margin-bottom: 11px;
  color: #287181;
}
body h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 2.41818em;
  color: #268585;
  -webkit-font-smoothing: antialiased;
}
body h5 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 1.5em;
  text-transform: uppercase;
  line-height: 0.45455em;
  margin-bottom: 3%;
}
ul {
  list-style: none;
  margin-top: 0.5%;
  vertical-align: middle;
}
li {
  float: left;
  margin-right: 20px;
  margin-top: 0px;
}
a {
  color: #333333;
}
.mnav {
  opacity: 0.95;
  background-size: 26px;
  background: url("../img/HBattern.jpg") #ffffff;
  height: 10px;;
}
.nav-logo {
  width: 130px;
  margin-top: -18px;
  opacity: 1.5;
}
.navbar-right li a:hover {
  padding-bottom: 5px;
  color: #333333;
  border-bottom: 2px solid #262626;
}
.menu li a:hover {
  
  text-decoration: none;
}

.menu li a{
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 1em;
  text-transform: uppercase;

}


.menu li a:hover h4 {
  border-bottom: #1c4f5a solid 2px;
  animation: 0.5 linear;
}
.jumbotron {
  background: url("../img/slide-1.jpg") no-repeat center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 550px;
  margin-bottom: 0px;
}
.jumbotron .sliderbg {
  position: relative;
  margin: 0 auto;
  margin-top: 10%;
  padding: 3%;
  padding-bottom: 5%;
  padding-top: 2%;
  width: 55%;
  opacity: 0.82;
  background-color: #333538;
  overflow: hidden;
}
.jumbotron .sliderbg .slidercontent {
  color: #ffffff;
  text-align: center;
  position: relative;
  z-index: 1;
  margin-bottom: 10px;
}
.jumbotron .sliderbg .slidercontent h3 {
  line-height: 1.3em;
}
.jumbotron .Cbutton {
  color: #ffffff;
  text-align: center;
  margin-top: 1%;
}
.jumbotron .Cbutton .Sbutton {
  width: 60%;
  color: #ffffff;
  background-color: #287181;
  box-shadow: 0px 5px #1c4f5a;
}
.jumbotron .Cbutton .Sbutton:active {
  box-shadow: 0px 0px #163e47;
  -webkit-transform: translate(0, 4px);
  -moz-transform: translate(0, 4px);
  -o-transform: translate(0, 4px);
  transform: translate(0, 4px);
}
.Hwhite {
  color: #ffffff;
}
.CsLead {
  margin-top: 100px;
}
.CsLate {
  marging-bottom: 100px;
}
.CsPadding {
  padding-top: 25px;
  padding-bottom: 25px;
}
.CsTopPadding {
  padding-top: 25px;
}
.Cscenter {
  text-align: center;
}
.CS1 {
  padding-top: 100px;
  padding-bottom: 100px;
  background: url("../img/CBattern2.jpg");
}
.Hwhite h5,
.Hwhite h6 {
  color: #3493a8;
}
.CS2 {
  color: #ffffff;
  background: url("../img/CBattern3.jpg");
}
.CS2 .CS21 {
  text-align: center;
  margin-bottom: 75px;
  padding-top: 100px;
}
.CS2 .CS22 {
  padding-bottom: 100px;
  text-align: center;
  color: #ffffff;
}
.CS2 .CS22 div a {
  color:rgba(244, 244, 244, 0.85);
}
.CS3 {
  background: url("../img/C_Bg.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.CS3 .CS31 {
  margin-top: 10%;
}
.CS32H {
  color: #ffffff;
}
.CS32P {
  color: #eefcff;
}
.footer {
  background-color: #eaeaea;
}
.FS {
  padding-top: 80px;
  margin-bottom: 30px;
}
.FS .FS1H {
  padding-bottom: 12.5px;
}
.FS3C {
  padding-bottom: 7%;
}
.FS3C .col-md-9 .form-control,
.FS3C .form-control {
  margin-top: 3%;
}

.contactBg{
  background-color: #287181;
}
.contactBg h2 {
  color: #ffffff;
}

.ContactPadding{
  padding:5% 8% 5% 10%;
}



.ACS {
  background: url("../img/about/CB.jpg") #287181;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.ACS .row .container {
  padding-top: 180px;
}
.ACS .row .ACSH .ACSM {
  padding-right: 3%;
  margin-bottom: 3%;
}
.ACS .row .ACSH .ACS1 {
  background-color: rgba(70, 72, 85, 0.95);
  margin-bottom: 50px;
  padding: 4%;
  padding-top: 2%;
  padding: 5% 7% ;
  margin-right: 4%;
}
.ACS .row .ACSH .ACS1 .ACS12 {
  color: #cccccc;
  width: 95%;
}
.ACS .row .ACSH .ACS1 .ACS13 {
  text-align: center;
}
.ACS .row .ACSC {
  margin-bottom: 75px;
}
.ACS .row .ACSC .ACS2 {
  padding-right: 50px;
}
.ACS .row .ACSC .ACS2 .ACS21 {
  background-color: rgba(70, 72, 85, 0.92);
  padding: 5% 4%;
}
.ACS .row .ACSC .ACS2 .ACS21 .ACS21H {
  margin-bottom: 8%;
}
.ACS .row .ACSC .ACS2 .ACS21 .ACS211 {
  margin-top: 2%;
  margin-left: 12%;
}
.ACS .row .ACSC .ACS2 .ACS21 .ACS211:lang(ar){
  margin-top: 11%;
  margin-left:0px;
  margin-right: 12%;
  font-style: none !important;
}
.ACS .row .ACSC .ACS2 .ACS21 h4 {
  color: #ffffff;
  margin-bottom: -1%;
}
.ACS .row .ACSC .ACS2 .ACS21 h3 {
  color: #cccccc;
  font-size: 1.3em;
}
.ACS .row .ACSC .ACS2 .ACS21 .ACS21M {
  margin-bottom: 10%;
}
.ACS .row .ACS33 {
  color: #ffffff;
  text-align: center;
  margin-bottom: 200px;
  margin-top: 100px;
}
.PCS00 {
  background: url(../img/products/ProductsBg.jpg) #287181;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.PCS0 {
  margin-top: 150px;
  margin-bottom: 50px;
}
.PCS0 .PCS1 {
  background-color: rgba(229, 229, 229, 0.11);
  padding: 2% 5%;
}
.PCSH {
  color: #2e8294;
  margin-bottom: 12.5px;
}
.PCS12 {
  color: #cccccc;
  margin-top: 3%;
  margin-left: -6%;
}
.PSCM {
  background-color: rgba(229, 229, 229, 0.11);
  margin-bottom: 100px;
  padding-top: 25px;
}
#owl-demo .item {
  margin: 3px;
}
#owl-demo .item img {
  display: block;
  width: 100%;
  height: auto;
}

.row.no-gutter {
  margin-left: 0;
  margin-right: 0;
}

.row.no-gutter [class*='col-']:not(:first-child),
.row.no-gutter [class*='col-']:not(:last-child) {
  padding-right: 0;
  padding-left: 0;
}

.contactPage {
  background: url(../img/products/ProductsBg.jpg) #287181;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 250px;
  padding-bottom: 250px;
}
.ContactHeader,
.contactinfo {
  color: #ffffff;
}
.ContactHeader {
  margin-bottom: 25px;
}
.contactButton {
  padding: 5% 20%;
}
.contactbuttoncenter {
  text-align: center;
}

/*responsive menu*/

.menu-toggle {
  width: 40px;
  height: 30px;
  position: fixed;
  top: 5px;
  right: 30px;
  cursor: pointer;
  z-index: 99999;
}
.menu-toggle.on .one {
  -moz-transform: rotate(45deg) translate(7px, 7px);
  -ms-transform: rotate(45deg) translate(7px, 7px);
  -webkit-transform: rotate(45deg) translate(7px, 7px);
  background: white;
  transform: rotate(45deg) translate(7px, 7px);
}
.menu-toggle.on .two {
  opacity: 0;
}
.menu-toggle.on .three {
  background: white;
  -moz-transform: rotate(-45deg) translate(8px, -10px);
  -ms-transform: rotate(-45deg) translate(8px, -10px);
  -webkit-transform: rotate(-45deg) translate(8px, -10px);
  transform: rotate(-45deg) translate(8px, -10px);
}
.one,
.two,
.three {
  width: 100%;
  height: 5px;
  background: #1c5d6c;
  margin: 6px auto;
  backface-visibility: hidden;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.responsivenav ul {
  margin: 0;
  padding: 0;
  font-family: Open Sans;
  list-style: none;
  margin: 4em auto;
  text-align: center;
}
.responsivenav ul .hidden {
  display: none;
}
.responsivenav ul a {
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  text-decoration: none !important;
  color: white;
  font-size: 3em;
  line-height: 1.5;
  width: 100%;
  display: block;
}
.responsivenav ul a:hover {
  background-color: rgba(245, 251, 252, 0.92);
}
.menu-section.on {
  z-index: 9999;
  width: 100%;
  height: 100%;
  display: block;
  background-color: rgba(43, 114, 130, 0.8);
  position: fixed;
}
.responsivenav ul li {
  margin-top: 5px;
  float: none !important;
  margin-right: 0px;
}
.responsivenav ul li a:hover {
  color: #2b7282;
}
.responsivenav ul li a h6 {
  line-height: 1.4em !important;
}


/*responsive rules*/

.bodyresponsivepadding{
  padding-top: 20px;
}





@media (min-width: 1000px) {
  .menu-section {
    display: none;
  }
  .bodyresponsivepadding {
    padding-top: 4%;
  }
  

}
@media (max-width: 1000px) {
  #navbar ul {
    display: none;
  }
  .ACS13{
  text-align: center;
}

}

@media (min-width:1200px){
  .bodyresponsivepadding {
    padding-top: 2%;
  }

}
@media ( max-width: 768px){

.ProductStyle{
  padding-top: 45% !important;}
}

#lang_sel{
  position:fixed !important;
  top:48px;
  right:0%;
}
#lang_sel li {
  width:92px;
}
#lang_sel a.lang_sel_sel{
  color:#fff;
  background:rgba(49, 116, 122, 0.8) right no-repeat !important;
}

ul.col-md-6.col-xs-12.col-sm-12.clearfix {
  line-height: 2.5em;
  margin-top: 0%;
}

/*single product page*/


.ProductStyle{
  padding-top: 7%;
  padding-bottom: 7%;
}
.title{
  margin-bottom: 50px;
  text-align: center;
}
.title h1{

  color:#ffffff !important;
}
.productcontent{
  margin-bottom: 50px;
}
.productdesc{
  opacity:0.9;
}

.productPageBG {
  background: url(../img/productsBG.jpg) #287181;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


/*arabic class*/

#lang_sel:lang(ar){
  position:fixed !important;
  top:48px;
  left: -35px;
}
.navbar-header:lang(ar){
  float: right !important;
}
.navbar-right:lang(ar){
  float: left !important;
}

.menu-toggle:lang(ar) {
  right: 85%;
  left:10%;
}


.visiontitle:lang(ar){
  margin-right: 9px;
  margin-bottom: 6px;
  margin-top: 5px;

}
.missiontitle:lang(ar){
    margin-right: 10px;
  margin-bottom: 6px;
  margin-top: 5px;

}
.PSCS{
   direction: ltr !important;
}